:root{
    --hed-font: sans-serif;
}
body{
    background-color: #081640;
    color: #F2F0CE;
    font-family: p22-underground, sans-serif;
    font-style: normal;
}
a{
    color: #F2F0CE;
    transition: color .2s linear;
}
a:hover{
    color: #7d9eff;
}
strong{
    font-weight: 500;
}
.site-top{
    width: 80%;
    margin: auto;
}
.site-name{
    
    font-weight: 500;
   

    text-align: center;
    margin-bottom: 0;
}
.site-subtitle{
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    width: 50%;
    margin: 0 auto 1em auto;
}
.social-links{
    width: 60%;
    margin: 1em auto;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.social-link-anchor{
    display: flex;
    align-items: center;
    font-weight: 400;
}
a:hover{
    color: #7d9eff;
}
.social-link-anchor:hover svg, .project-link:hover svg{
    stroke: #7d9eff;
}
.social-link-anchor svg{
    transition: stroke .2s linear;
    margin-right: .25em;
    stroke: #F2F0CE;
}
.social-link-anchor h2{
    font-weight: 300;
    font-size: 1.3em;
}
.site-bio{
    width: 50%;
    border-top: 1px solid #F2F0CE;
    border-bottom: 1px solid #F2F0CE;
    padding: 1em 0;
    margin: 0 auto;
    font-weight: 300;
    font-size: 1.3em;
    /* margin-bottom: 0; */
    display: flex;
    height: fit-content;
}
.bio-text{
    margin-top: 0;
    font-weight: 300;
}
.resume-link{
    text-decoration: none;
    display: block;
    width: 8em;
    margin: auto;
}
.resume-button{
    padding: 1em;
    border: 1px solid #F2F0CE;
    width: fit-content;
    margin: auto;
    /* width: 10%; */
    text-align: center;
    transition: color .2s linear, background-color .2s linear;
}
.resume-link:hover .resume-button{
    background-color: #F2F0CE;
    color: #081640;
}
.profile-pic-rect{
    width: 30%;
    object-fit: contain;
    margin-right: 2.5%;
    max-height: 15em;
}
.profile-pic-square{
    display: none;
}

.my-work{
    width: 60%;
    margin: auto;
}
.section-header{
    font-weight: 500;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}
.section-subhed{
    margin-top: 0;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
}
.work-project{
    border-bottom: 1px solid #F2F0CE;
    width: 90%;
    margin: auto auto 2em auto;
    padding: 2em 0;
    position: relative;
    display: flex;
    align-items: center;
    
}
.project-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.project-link{
    display: flex;
    align-items: center;
    /* flex-shrink: 0; */
    flex-wrap: nowrap;
    width: 100%;
}


.project-year{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}
.project-title{
    /* width: 40%; */
    font-size: 2em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: .5em;
}
.project-description{
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
    /* display: inline-block; */
}
.project-thumb-link{
    width: 50%;
}
.project-thumb{
    /* border-radius: 5px; */
    width: 100%;
    /* float: right; */
    /* position: absolute; */
    right: 0;
    top: 0;
    /* display: inline; */
    /* border: 8px solid #F2F0CE; */
    /* box-shadow: 2px 2px 2px; */
}
.project-thumb-mobile{
    display: none;
}
.copyright-section{
    text-align: center;
}
@media screen and (max-width: 1366px){
    .social-text{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .site-top{
        width: 90%;
    }
    .site-bio{
        width: 90%;
        display: block;
    }
    .profile-pic-rect{
        display: none;
        
    }
    .profile-pic-square{
        display: block;
        width: 50%;
        margin: auto auto 1em auto;
        object-fit: contain;
    }
    .my-work{
        width: 90%;
    }
    .project-description{
    }
    .project-text{
        width: 100%;
    }
    .work-project{
        display: block;
    }
    .project-thumb{
        display: none;
    }
    .project-thumb-mobile{
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    .site-subtitle{
        width: 90%;
    }
}