:root{
    --hed-font: sans-serif;
}
body{
    background-color: #081640;
    color: #F2F0CE;
    font-family: p22-underground, sans-serif;
    font-style: normal;
}
a{
    color: #F2F0CE;
    transition: color .2s linear;
}
a:hover{
    color: #7d9eff;
}
strong{
    font-weight: 500;
}
header{
    width: fit-content;
    margin: auto;
    text-align: right;
    position: relative;
}
@keyframes fade-right{
    from{
        opacity: 0;
        right: 2vw;
    }
    to{
        opacity: 1;
        right: 0;
    }
}
@keyframes fade-left{
    from{
        opacity: 0;
        right: 3vw;
    }
    to{
        opacity: 1;
        right: 5vw;
    }
}
.header-content{
    opacity: 0;
    position: relative;
    z-index: 10;
    bottom: 3vh;
    right: 5vw;
    background-color: white;
    padding: 0 1rem;
    color: black;
    animation: fade-left .75s ease-in-out .3s forwards;

}
.header-content h1{
    font-size: 1.5rem;
}
.header-content h2{
    font-size: 1.2rem;
}
.profile-pic-rect{
    opacity: 0;
    animation: fade-right .75s ease-in-out .25s forwards;
    /* width: 30%; */
    position: relative;
    top: 5vh;
    z-index: 0;
    object-fit: contain;
    margin-right: 2.5%;
    max-height: 15em;
}
.profile-pic-square{
    display: none;
}
.bio-text{
    position: absolute;
    width: 30%;
    left: 2.5vw;
    top: 5vh;
}
.bio-text p{
    font-size: 1rem;
}
.bio-text h3{
    margin: 0;
    font-size: 1.5rem;
}
header h1{
    
    font-weight: 500;
   

    margin-bottom: 0;
}
header h2{
    font-weight: 300;
    margin: 0;
}

.my-work{
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.section-header{
    font-weight: 500;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}
.section-subhed{
    margin-top: 0;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
}
.work-project{
    width: 15vw;
    height: 8.43vw;
    margin: 1rem;
    
}
.work-project:hover .project-text, .work-project:active .project-text{
   opacity: 1;
}
.work-project:hover .project-thumb{
    transform: scale(1.1);
}
.project-text{
    width: 30%;
    z-index: 100;
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    opacity: 0;
    transition-delay: .2s;
    transition: opacity .25s ease-in-out;
    text-align: right;
    right: 5vw;
}
.work-tip{
    text-align: center;
}

.project-link{
display: none;
}


.project-year{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}
.project-title{
    /* width: 40%; */
    font-size: 1.5em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: .5em;
}
.project-description{
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    /* display: inline-block; */
}
.project-thumb-link{
    width: 100%;
}
.project-thumb{
    transform: scale(1);
    transition: transform .5s ease-in-out;
    /* border-radius: 5px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* float: right; */
    /* position: absolute; */
    right: 0;
    top: 0;
    /* display: inline; */
    /* border: 8px solid #F2F0CE; */
    /* box-shadow: 2px 2px 2px; */
}
.project-thumb-mobile{
    display: none;
}

@media screen and (max-width: 1000px){

    .bio-text{
        /* display: none; */
        position: relative;
        width: 90%;
        margin: 1rem auto;
        top: 0;
        left: 0;
    }
 
    .my-work{
        width: 90%;
    }
    .project-link{
        display: flex;
        align-items: center;
        /* flex-shrink: 0; */
        flex-wrap: nowrap;
        width: 100%;
    }
    .project-text{
        width: 90%;
        margin: auto;
        position: static;
        opacity: 1;
        animation: none;
        background-color: unset;
        text-align: left;

    }
    .work-tip{
        display: none;
    }
    .work-project{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: fit-content;
    }
    .project-thumb{
        display: none;
    }
    .project-description{
        font-size: 1rem;
    }
    .project-thumb-mobile{
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    .site-subtitle{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .work-project{
        width: 100%;
    }
    header{
        width: 90%;
    }
    .profile-pic-rect{
        display: none;
        
    }
    .profile-pic-square{
        position: relative;
        left: 10%;
        opacity: 0;
        animation: fade-right .75s ease-in-out .25s forwards;
        display: block;
        width: 50%;
        margin: auto auto 1em auto;
        object-fit: contain;
    }
}