:root{
    --hed-font: 'Heebo', sans-serif;
    --text-font: 'Arvo', serif;;
    --theme-color: #e35b00;
}
h1,h2,h3{
    /* color: whitesmoke; */
    font-family: var(--hed-font);
}
h3{
    font-weight: 300;
}
p{
    font-family: var(--text-font);
    font-size: 1.3em;
}

.color-emphasis{
    color: var(--theme-color);
    /* font-weight: 800; */
}
.bio-top{
    width: 40%;
    margin: 5% auto auto auto;
    /* text-align: center; */
}
.bio-top-name{
    /* text-align: center; */
    font-size: 2em;
}
.bio-links{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}
.bio-profile-pic{
    /* float: left; */
    width: 10vw;
    height: 10vw;
    background-image: url('img/profile-pic.jpg');
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    border: 5px solid var(--theme-color);
    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
}
.bio-button{
    height: 2em;
    padding: .5em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px #89a1b3;
  transition-property: transform, background-color;
  transition-duration: .5s;
  font-family: 'Arvo', serif;
  border-radius: 5px;
  text-align: center;
}
.bio-button-link{
    text-decoration: none;
    transition: color 1s ease;
    color: black;
}
.bio-button-link:hover{
    text-decoration: underline;
    color: var(--theme-color);
    
}
.work-project{
    margin-bottom: 4em;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
    border-radius: 10px;
    padding: 1em 0 2em 1em;
}
.work-section{
    width: 70%;
    margin: auto;
}
.work-heading{
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 0;
}
.work-subtitle{
    text-align: center;
    margin: 0 0 2em 0;
}
.project-title{
    font-size: 2em;
    margin-bottom: 0;
}
.project-thumb{
    background-position: center;
    background-size: cover;
    margin-top: 1em;
    width: 20vw;
    height: 40vh;
    margin-right: 1em;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
    float: left;
}
.project-description{
    margin-top: .5em;
    width: 90%;
}
.project-link{
    text-align: center;
    transition: color 1s ease;
    color: black;
    /* text-decoration: none; */
}
.project-link:hover{
    /* text-decoration: underline; */
    color: var(--theme-color);
    
}
.project-button{
    display: inline;
    height: 2em;
    /* padding: .5em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px #89a1b3; */
  transition-property: transform, background-color;
  transition-duration: .5s;
  font-family: 'Arvo', serif;
  border-radius: 5px;
  /* width: fit-content; */
  font-weight: 800;
  text-align: left;
  /* margin: auto; */
  /* box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6); */
}
.site-footer{
    text-align: center;
}
i{
    display: inline;
    margin-left: .5em;
}

/* ABOUT ME */
.about-head{
    padding-top: 5vh;
    font-size: 3em;
    margin-bottom: 0;
}
.about-subhed{
    margin-top: 0;
}
.aboutme-text{
    height: fit-content;
    width: 40%;
    margin: auto;
}
.profile-pic-big{
    float: right;
    width: 20vw;
    margin: 1em;
}
.about-me-contact h1{
    text-align: center;
}
.social-links{
    width: 40%;
    margin: auto;
}

.social-list{
    padding: 0;
    font-family: var(--text-font);
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.social-item a{
    color: black;
  }
  .social-item i{
      margin-right: .5em;
      margin-bottom: .5em;
  }
  .social-item{
      margin-right: 1em;
      text-align: center;
    display: inline;
    /* font-family: 'Arvo', serif; */
    transition-property: transform, color;
    transition-duration: .4s;
  }
  .social-item a{
    text-decoration: none
  }
  .social-item:hover{
      text-decoration: underline;
  }
  .project-navbar{
    position: fixed;
    height: 3em;
    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
    /* display: fixed; */
    background-color: white;
    padding-bottom: 1em;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 1em;
    z-index: 10;
  }
  .returnlink{
    color: black;
    text-decoration: none;
    transition: color .5s;
  }
  .returnlink:hover{
    color: var(--theme-color);
  }

@media screen and (max-width: 900px){
    .work-section{
        width: 98%;
    }
    .bio-top-name{
        text-align: center;
    }
    .bio-profile-pic{
        display: none;
    }
    .bio-links{
        width: 80%;
    }
    .project-thumb{
        width: 90%;
        margin: auto;
        float: none;
    }
    .social-item{
        margin: auto;
    }
    .social-links{
        width: unset;
    }
    .social-list{
        flex-direction: column;
        justify-content: baseline;
        width: 90vw;
        margin: 0;
    }
    .aboutme-text{
        width: 80%;
    }
    .bio-top{
    width: 90%;
    }
}